<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Register Page</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    <meta charset="utf-8"/>
  </head>
  <body style="background-color: #d5d5d5">
    <div th:replace="fragments/header :: header"></div>
    <div class="container-fluid">
    <h1>Register</h1>

        <form method="POST" th:action="@{/register}" id="registerForm">
            <div class="row form-group">
                <div class="col-xs-1">
                    <label >Username: </label>
                </div>
                <div class="col-xs-2">
                    <input type="text" name="username"/><br/>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-1">
                    <label >Password: </label>
                </div>
                <div class="col-xs-2">
                    <input type="password" name="password"/><br/>
                </div>
            </div>
                <div class="row form-group">
                    <div class="col-md-1">
                        <label>Confirm password:</label>
                    </div>
                    <div class="col-md-1">
                        <input type="password" name="confirm"/><br/>
                    </div>
                </div>
            <input type="submit" value="Register" class="btn btn-primary"/>
        </form>

    </div>
  </body>
</html>