<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transaction Page</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
</head>
<body style="background-color: #d5d5d5">

<div th:replace="fragments/header :: header"></div>

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-4">
             <div class="row">
                 <div class="col-md-8" >
                     <h4>Transaction Form</h4>
                 </div>
             </div>

            <form action="#" th:action="@{/create}" th:object="${transactionForm}" method="post" >
                <div class="row form-group">
                    <div class="col-lg-2"><label>Type</label></div>
                    <div class="col-sm-3 bg-primary">
                        <input type="radio"  th:value="'REVENUE'" th:field="*{type}"><small>Revenue</small>
                    </div>
                    <div class="col-sm-3 bg-primary">
                        <input type="radio"  th:value="'EXPENSE'"  th:field="*{type}"><small>Expense</small>
                    </div>
                    <!--<span class="error" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span>-->
                </div>

                <div class ="row form-group">
                    <div class="col-md-2">
                        <label>Day</label>
                    </div>
                    <div class="col-md-6" >
                        <select class="form-control" th:field="*{day}">
                            <option value=""  selected=true th:text="*{'Select the day'}">Select the day</option>
                            <option th:each="day:${days}" th:value="${day}" th:text="${day}"></option>
                        </select>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"><label>Amount</label></div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="text" class="form-control" th:field="*{amount}">
                                <span class="input-group-addon">$</span>
                                <span class="input-group-addon">0.00</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control"  rows="2" th:field="*{description}"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 form-group">
                        <button type="submit"  class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 small">
                        <ul class="list-group-item-danger" th:each="error:${errors}">
                            <li th:text="${error}">error!</li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-7">
                    <h4>Table of Transactions</h4>
                </div>
            </div>
            <div class="row-12">
                <table class="table table-sm table-dark">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Day</th>
                            <th scope="col">Time</th>
                            <th scope="col">Description</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="transaction : ${transactions}">
                            <td th:text="${transaction.id}"></td>
                            <td th:text="${transaction.day}"></td>
                            <td th:text="${transaction.time}"></td>
                            <td th:text="${transaction.description}"></td>
                            <td th:text="${transaction.amount}"></td>
                            <td th:text="${transaction.type}"></td>
                        </tr>
                    </tbody>
                </table>
                <a type="button" class="btn btn-primary" href="/transactions">Download</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>